@charset "utf-8";
/* CSS Document */

body{ font-family:"微软雅黑"; padding:0; margin:0; border:0;}
#container{
        overflow: hidden;
    }
    .no{
        display: none;
    }
	.page{
		position:absolute;
		overflow:hidden;
	}
    .lay1{
        position: absolute;
        z-index: 1;
    }
    .lay2{
        position: absolute;
        z-index: 2;
    }
    .lay3{
        position: absolute;
        z-index: 3;
    }
    .lay4{
        position: absolute;
        z-index: 4;
    }